@import "tailwindcss";

@theme {
  --color-primary: #3251d0;
  --color-primary-dark: #1e2939;
  --color-primary-mid-dark: #151d28;
  --color-primary-super-dark: #101828;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Navbar */

.nav-container {
  @apply bg-primary p-4 flex justify-between items-center dark:bg-primary-super-dark px-4 py-3 text-xl font-bold text-gray-900 dark:text-white;
}

.title {
  @apply text-white font-semibold text-[20px] text-xl dark:text-white;
}

.create-btn {
  @apply bg-white font-normal text-[15px] text-[#3251D0] pl-3 pr-3 pt-2 pb-2 rounded-[5px] mr-3;
}

.create-btn:hover {
  @apply bg-primary-dark text-white;
}

.logout-btn {
  @apply bg-red-500 font-normal text-[15px] text-white pl-3 pr-3 pt-2 pb-2 rounded-[5px] mr-3;
}

.logout-btn:hover {
  @apply bg-red-700;
}

.moon-container {
  @apply text-white ml-3 mr-3 relative top-1;
}

.moon {
  @apply transition-all duration-300 group-hover:fill-white group-hover:stroke-white;
}

/* search section */

.search-container {
  @apply p-5 flex dark:bg-primary-dark;
}

.search-input {
  @apply max-w-md px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary dark:bg-primary-super-dark dark:text-white;
}

.no-users-msg {
  @apply text-center text-gray-500 min-h-screen dark:bg-primary-dark;
}

/* loading */

.loading-outer-container {
  @apply flex items-center justify-center dark:bg-primary-dark dark:min-h-screen;
}

.loading-inner-container {
  @apply flex flex-col items-center space-y-4;
}

.loading-icon {
  @apply w-12 h-12 border-4 border-primary border-t-transparent rounded-full animate-spin dark:border-white;
}

.loading-text {
  @apply text-lg font-semibold text-gray-700 dark:text-white;
}

/* cards section */

.cards-outer-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 dark:bg-primary-dark min-h-screen;
}

/* Card */

.card-container {
  @apply dark:bg-primary-super-dark dark:shadow-gray-800 shadow-lg rounded-lg p-6 m-4 shadow-gray-300 group-hover:bg-[#9eb4ff] transition-shadow duration-300 max-h-[240px];
}

.initial-container {
  @apply flex justify-center items-center;
}

.card-initial {
  @apply w-16 h-16 flex items-center justify-center bg-primary text-white text-2xl font-bold rounded-full group-hover:bg-primary-dark;
}

.card-name {
  @apply text-lg text-gray-800 dark:text-gray-300;
}

.card-info {
  @apply text-gray-500 text-[14px];
}

.buttons-container {
  @apply flex justify-end mt-2;
}

.edit-btn {
  @apply bg-primary text-white pl-3 pr-3 pt-[2px] pb-[2px] mr-3 rounded-[5px];
}

.edit-btn:hover {
  @apply bg-primary-dark text-white;
}

.delete-btn {
  @apply bg-red-500 text-white pl-3 pr-3 pt-[2px] pb-[2px] rounded-[5px];
}

.delete-btn:hover {
  @apply bg-red-700;
}

/* login page */

.login-outer-container {
  @apply min-h-screen flex items-center justify-center bg-gray-100 dark:bg-primary-dark;
}

.login-inner-container {
  @apply bg-white shadow-md rounded-lg p-8 w-full max-w-sm dark:bg-primary-super-dark;
}

.login-title {
  @apply text-2xl font-bold text-center mb-6 dark:text-white;
}

.label {
  @apply block text-gray-700 mb-1 dark:text-white;
}

.input-container {
  @apply w-full px-4 py-2 border dark:border-white dark:text-white rounded-md focus:outline-none focus:ring-2 focus:ring-primary;
}

.visibility-btn {
  @apply absolute right-3 top-9 text-gray-500 hover:text-gray-700 focus:outline-none;
}

.error-msg {
  @apply text-red-500 mb-4 text-sm;
}

.login-btn {
  @apply w-full bg-primary hover:bg-primary-dark text-white font-semibold py-2 rounded-md disabled:opacity-60;
}

/* not found page */

.not-found-outer-container {
  @apply min-h-screen bg-gray-100 flex flex-col items-center justify-center px-4 dark:bg-primary-dark;
}

.not-found-msg {
  @apply text-6xl font-bold text-primary mb-4;
}

.not-found-text {
  @apply text-xl text-gray-500 mb-6 text-center;
}

.home-btn {
  @apply px-6 py-3 bg-primary hover:bg-primary-super-dark text-white font-semibold rounded-lg shadow-md transition-all duration-300;
}

/* Confimation Modal */
.conf-outer-container {
  @apply fixed inset-0 backdrop-blur-sm bg-black/30 flex items-center justify-center z-50;
}

.conf-inner-container {
  @apply bg-white dark:bg-gray-800 rounded-lg p-6 max-w-md w-full mx-4;
}

.conf-title {
  @apply text-xl font-semibold mb-4 dark:text-white;
}

.conf-message {
  @apply mb-6 dark:text-gray-300;
}

.conf-buttons-container {
  @apply flex justify-end space-x-4;
}
.conf-cancel-btn {
  @apply px-4 py-2 border border-gray-300 rounded-md hover:bg-gray-100 dark:border-gray-600 dark:hover:bg-gray-700 dark:text-white;
}

.conf-delete-btn {
  @apply px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700;
}

/* inputfield */

.if-container {
  @apply mb-4;
}

.if-label {
  @apply block text-sm text-gray-700 dark:text-gray-300 mb-1;
}

.if-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary dark:bg-gray-800 dark:text-white dark:border-gray-700;
}

.if-error {
  @apply text-sm text-red-500 mt-1;
}

/* edit-user-page */

.edit-outer-container {
  @apply flex items-center justify-center min-h-screen bg-gray-100 dark:bg-primary-mid-dark;
}

.edit-inner-container {
  @apply bg-white dark:bg-primary-dark shadow-lg rounded-xl p-8 w-full max-w-md;
}

.edit-title {
  @apply text-xl font-semibold text-center text-gray-800 dark:text-white mb-6;
}

/* Add-user-page */

.add-user-form {
  @apply flex items-center justify-center min-h-screen bg-gray-100 dark:bg-primary-mid-dark;
}

.add-inner-container {
  @apply bg-white dark:bg-primary-dark shadow-lg rounded-xl p-8 w-full max-w-md;
}

.add-title {
  @apply text-xl font-semibold text-center text-gray-800 dark:text-white mb-6;
}

.status-label {
  @apply block text-sm text-gray-700 dark:text-gray-300 mb-1;
}

.select-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary dark:bg-gray-800 dark:text-white dark:border-gray-700;
}

.add-submit-btn {
  @apply px-4 py-2 bg-primary text-white font-semibold rounded-md hover:bg-primary-dark disabled:bg-gray-300 dark:disabled:bg-gray-700 dark:hover:bg-primary-light transition-colors;
}
